[submodule "fastapi-test"]
  active = true
	url = git@github.com:suraw00t/fastapi-test.git
	path = fastapi-test
[submodule "sitemap-controller"]
	path = sitemap-controller
	url = git@github.com:suraw00t/sitemap-controller.git
[submodule "sveltekit-test"]
	url = git@github.com:suraw00t/sveltekit-test.git
